body{
    margin: 0%;
}
.container{
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    height: 100vh;
}
.header{
    grid-column: 1 / 3;
    background-color:rgb(71, 167, 211);
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.sideBar{
    display: grid;
    background-color:rgb(185, 199, 226);
    grid-template: repeat(4, 1fr) / 1fr 2fr 1fr;
}
.addBook{
    grid-column: 2 / 3;
}
.deleteAll{
    grid-area: 2/2/3/3;
}
.booksNos{
    grid-area: 3/2/4/3;
}